<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Srácok kezdődik a hihetetlen ANGULAR KALANDOK :D</h1>
      <hr />
      <div>
        <label for="currencyFrom"></label>
        <input type="number" />
        <label for="currencyFromName"></label>
        <input type="text">
      </div>
      <div>
        <label for="currencyTo"></label>
        <input type="number" />
        <label for="currencyToName"></label>
        <input type="text">
      </div>
      <button class="btn btn-primary">Switch</button>
    </div>
  </div>
</div>
